*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
}

.barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
}

.centro{

}

#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

nav{
    width: 100%;
    position: absolute;
    top:60px;
}

nav a{
    text-decoration: none;
}