*{
    margin: 0;
    padding: 0;
}
.topo{      
    background-color: #0078A7;
    height: 70px;
    
}

body{
    background-color: #f0f0f0;
}

.barra{
    background-color: #333;
    height: 100%;
    width: 280px;
    position: absolute;
    padding-left: 1%;
    padding-top: 87px; 
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}

.logo{
 padding-left: 7.4%;
 padding-top: 6px;
 padding-bottom: 3px;
}

.opcoes{
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 25px;
}


.link{
    color: white;
    font-family: 'Maven Pro', sans-serif;
    padding-top: 10px; 
}

.imagem_{
    padding-left: 2px;
}

.estilo_academico{
    position: absolute;
    top: 101px;
    left: 347px;
    font-family: roboto;
    width: 600px;
    height: 25px;
    font-weight: 400;
    border-bottom: 1px solid black;  
}

.salvar{
    position: absolute;
    border-style: none;
    border-radius: 5px;
    background-color: #2F3783;
    width: 152px;
    height: 40px;
    top: 101px;
    left: 1393px;
    color: white;
    font-family: roboto;
}

.formulario{
    position: absolute;
    top: 236px;
    left: 351px;
    width: 430px;
    border-style: none;
    border-bottom: 1px solid black;    
}
.formularioR{
    position: absolute; 
    left: 1114px;
    width: 427px;
    border-style: none;
    border-bottom: 1px solid black;   
}

input[type=text]{
    background: none;
}
input[type=date]{   
   background: none;
}

input[type=name]{
    background: none;    
}
input[type=email]{
    background: none;
}

p{
    position: absolute;
    top: 315px;
    left: 351px;
    font-size: small;
    
}


#data{
    top: 236px;
}

#sexo{
    position: absolute;
    top: 315px;
    left: 410px;
    width: 15px;
    height: 15px;       
}

#email{
    position: absolute;
    top:   315px;
    left: 1114px;
}

#cpf{
    top: 392px;
}

#Fem{
    position: absolute  ;
    top: 313.4px;
    left: 410px;
    color: #00000099;
}

#Masc{
    position: absolute;
    top: 313.4px;
    left: 501px;
    color: #00000099;
}


#Estado_C{
    position: absolute;
    top: 419px;
    left: 351px;
}


#estado_civil{
    border-style: none;
    background: none;
    border-bottom: 1px solid black;
    width: 403px;
}

.formularioL{
    position: absolute;
    left: 348px;
    width: 427px;
    border-style: none;
    border-bottom: 1px solid black;  
    
}

#rg{   
    top: 501px;     
}

#cep{
    top: 583px;
   
}

#numero{
    top: 665px;
    
}

#cidade{
    top: 747px;
    
}

#fone{
    top: 501px;
}

#endereco{
    top: 583px;
}

#bairro{
    top: 665px;
}

#Estado{
    position: absolute;
    top: 747px;
    left: 1114px;
}


#Estado_br{
    border-style: none;
    background: none;
    border-bottom: 1px solid black;
    width: 403px;
}   