.borda_itens{   
    border: 1px rgb(83, 83, 88);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.borda_interna{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(83, 83, 88);
    padding: 8px;
    display: grid;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.externo_cadastro {
    display: grid;
    grid-column-gap: 20px;
}